<div class="container">
    <h1>Nuevo Cliente</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador:</mat-label>
            <input type="number" matInput placeholder="identificador" [(ngModel)]="customer.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre de Cliente:</mat-label>
            <input type="text" matInput placeholder="nombre del cliente" [(ngModel)]="customer.name" name="name" required>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>